        body {
            text-align: center;
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        header {
            display: block;
            margin-bottom: 0.8em;
        }
        
        h2 {
            background-color: rgb(0, 153, 0);
            color: rgb(224, 255, 224);
            font-weight: lighter;
            text-shadow: 1px 1px 1px blue;
            margin: 0;
            margin-bottom: 0.4em;
            padding-bottom: 0.3em;
        }
        
        nav {
            text-shadow: 0.5px 0.2px 1px rgba(0, 0, 255, 0.61);
            border-top: black 1.7px solid;
            border-bottom: black 1.7px solid;
            width: 100%;
            overflow: hidden;
        }
        
        a {
            display: block;
            text-decoration: none;
            text-align: center;
            float: left;
            min-width: 20%;
            font-weight: bold;
            font-size: x-small;
            padding-top: 0.4em;
            padding-bottom: 0.3em;
        }
        
        a:visited {
            color: blue;
        }
        
        footer {
            padding-top: 1em;
            display: absolute;
            padding-bottom: 2em;
            font-size: x-small;
            font-weight: bold;
        }